<div class="centerbox" >
  <div id="laterbox">
    <span id="l1" class="later">M</span>
    <span id="l2" class="later">a</span>
    <span id="l3" class="later">t</span>
    <span id="l4" class="later">e</span>
    <span id="l5" class="later">u</span>
    <span id="l6" class="later">s</span>
    <span id="l7" class="later">z</span>
    <span id="l8" class="later"> B</span>
    <span id="l9" class="later">ł</span>
    <span id="l10" class="later">a</span>
    <span id="l11" class="later">s</span>
    <span id="l12" class="later">z</span>
    <span id="l13" class="later">c</span>
    <span id="l14" class="later">z</span>
    <span id="l15" class="later">y</span>
    <span id="l16" class="later">k</span>
  </div>
  <div  class="dotbox">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>

  </div>
  <div class="skillsBox">
    <span class="skills">A</span><span class="skills">n</span><span class="skills">g</span><span class="skills">u</span>
    <span class="skills">l</span><span class="skills">a</span><span class="skills">r</span>
    <span class="skills"> S</span><span class="skills">a</span><span class="skills">s</span>
    <span class="skills">s</span><span class="skills"> J</span><span class="skills">a</span>
    <span class="skills">v</span><span class="skills">a</span><span class="skills">S</span><span class="skills">c</span>
    <span class="skills">r</span>
    <span class="skills">i</span><span class="skills">p</span><span class="skills">t</span>
  </div>
</div>
