<div class="container">
  <p>Contact</p> <br />
  <img src="../assets/images/inLogo.png" (click)="showLink(0)"> <br />
  <img id="pmImg" src="../assets/images/pmLogo.png" (click)="showLink(3)"> <br />
  <p class="mailinfo">mateuszblaszczyk@protonmail.com</p> <br />
  <img id="phImg" src="../assets/images/phLogo.png" (click)="showLink(4)"> <br />
  <p class="phoneinfo">(48) 791 730 289</p> <br />
  <img id="gitImg" src="../assets/images/gitLogo.png" (click)="showLink(1)"> <br />
  <img id="pdwLogo" src="../assets/images/dwnLogo.png" (click)="showLink(2)"> <br />
</div>
