<div class="container">
  <div class="projectbox2">
    <img class="action" src="../assets/images/p3.png" (click)="upenURL(0)">

    <div class="projecttext">
      <p><b>Project RWD - 320px</b>
      <br />
        Click img to download .psw
        <br /><br/>
        <b>Technologies and tools: </b><br />PhotoShop CS6
      </p>
    </div>
  </div>
  <div class="projectbox2">
    <img  class="action" src="../assets/images/p4.png" (click)="upenURL(1)">
    <div class="projecttext">
      <p><b>Team University project</b> <br/>my part: front ends<br /><br/>
        <b>Technologies and tools: </b><br />Spring (Spring-boot/Spring-JPA/Spring-Security), Hibernate, MySQL, REST, OAuth 2.0, HTML, CSS, JavaScript, Swagger
        <br/><br/><b>Version control: </b>GitHub
      </p>
    </div>
  </div>
</div>
