<div class="container2">
  <div class="spanbox">
    <span class="skillslater"  id="s1">M</span>
    <span class="skillslater" id="s2">y</span><p>   </p>
    <span class="skillslater" id="s3">s</span>
    <span class="skillslater" id="s4">k</span>
    <span class="skillslater" id="s5">i</span>
    <span class="skillslater" id="s6">l</span>
    <span class="skillslater" id="s7">l</span>
    <span class="skillslater" id="s8">s</span>
  </div>
  <div class="boxskills">
    <div class="skillsleft">
      <div class="skill">
        <table>
          <tr>
            <td class="label">PhotoShop</td>
            <td>
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png"  class="imgopacity">
            </td>
          </tr>
          <tr>
            <td class="label">HTML</td>
            <td>
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png">
            </td>
          </tr>
          <tr>
            <td class="label">CSS (Sass)</td>
            <td>
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png" class="imgopacity">
            </td>
          </tr>
          <tr>
            <td class="label">Java Script</td>
            <td>
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png" class="imgopacity">
              <img src="../assets/images/skill2.png" class="imgopacity">
            </td>
          </tr>
          <tr>
            <td class="label">Angular 4+</td>
            <td>
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png" class="imgopacity">
              <img src="../assets/images/skill2.png" class="imgopacity">
            </td>
          </tr>
          <tr>
            <td class="label">PHP</td>
            <td>
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png" class="imgopacity">
              <img src="../assets/images/skill2.png" class="imgopacity">
            </td>
          </tr>
          <tr>
            <td class="label">Web Design Patterns</td>
            <td>
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png" class="imgopacity">
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="skillsleft">
      <div class="skill">
        <table>
          <tr>
            <td class="label">Ionic Framework</td>
            <td>
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png" class="imgopacity">
            </td>
          </tr>
          <tr>
            <td class="label">Android</td>
            <td>
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png" class="imgopacity">
              <img src="../assets/images/skill2.png" class="imgopacity">
            </td>
          </tr>
          <tr>
            <td class="label">Java</td>
            <td>
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png" class="imgopacity">
              <img src="../assets/images/skill2.png" class="imgopacity">
            </td>
          </tr>
          <tr>
            <td class="label">C#</td>
            <td>
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png" class="imgopacity">
              <img src="../assets/images/skill2.png" class="imgopacity">
            </td>
          </tr>
          <tr>
            <td class="label">C++</td>
            <td>
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png" class="imgopacity">
              <img src="../assets/images/skill2.png" class="imgopacity">
              <img src="../assets/images/skill2.png" class="imgopacity">
            </td>
          </tr>
          <tr>
            <td class="label">C</td>
            <td>
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png" class="imgopacity">
              <img src="../assets/images/skill2.png" class="imgopacity">
              <img src="../assets/images/skill2.png" class="imgopacity">
            </td>
          </tr>
          <tr>
            <td class="label">MS Office</td>
            <td>
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png" class="imgopacity">
            </td>
          </tr>
        </table>
      </div>
  </div>
    <div class="boxskills">
      <div class="skillsleft">
        <div class="skill">
          <table>
            <tr>
            <td class="label">English - B1</td>
            <td>
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png">
              <img src="../assets/images/skill2.png" class="imgopacity">
            </td>
          </tr>
            <tr>
              <td class="label">German - Basic</td>
              <td>
                <img src="../assets/images/skill2.png">
                <img src="../assets/images/skill2.png">
                <img src="../assets/images/skill2.png" class="imgopacity">
                <img src="../assets/images/skill2.png" class="imgopacity">
                <img src="../assets/images/skill2.png" class="imgopacity">
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
</div>
