<div class="line">
  <div id="line0" class="linePart">home</div>
  <div id="line1" class="linePart">skills</div>
  <div id="line2" class="linePart">projects</div>
  <div id="line3" class="linePart">projects part2</div>
  <div id="line4" class="linePart">contact</div>
  <!--<div id="line5" class="linePart">hobby</div>-->
</div>
<div class="redbutton" (click)="goTo(0)"></div>
<div class="bluebutton" (click)="goTo(1)"></div>
<img class="infoRight" src="../assets/images/right.png">
<img class="infoLeft" src="../assets/images/left.png">
<app-hellow id="0"></app-hellow>
<app-skills id="1"></app-skills>
<app-project id="2"></app-project>
<app-project-part2 id="3"></app-project-part2>
<app-contact id="4"></app-contact>
<!--<app-hobby id="5"></app-hobby>-->
