<div class="container">
  <div class="projectbox">
    <img class="action" src="../assets/images/p1.png" (click)="upenURL(0)">

    <div class="projecttext">
      <p><b>Computer Simulation</b> - presents the transmission of an 8-bit word, secured by the Hamming code. The user decides about:
        <br />- Transmission medium (ethernet, WI-FI, satellite)
        <br />- Error Probability
        <br />- Min and Max time for operations performed during simulation
        <br />- number of iterations</p>
      <p> <b>Technologies and tools: </b><br />Angular 6, TypeScript, CSS3, HTML 5, Chart.js, PS CS6<br/><br/>
      <b>Version control: </b>GitLab
      </p>
    </div>
  </div>
  <div class="projectbox">
    <img src="../assets/images/p2.png">
    <div class="projecttext">
      <p><b>Hybrid crossplatform mobile application.</b>
        </p>
      <p> <b>Technologies and tools: </b><br />Ionic 3 (Angular 4/Scss/HTML), plugins for Ionic, Firebase services (DB/host/auth), PS CS6, IonicPro(Version control/Feedback/Monitor)</p>
      <br/> <b>Test:</b> on app: Ionic DevApp, IonicView, on real phone: LG k10, Leagoo L5
      <p>
        <i>
          <b>to test app:</b>
          <br/>
          1) download IonicView on your phone
          <br/>
          1) add app via code (code: 004a6715)
        </i>

      </p>
    </div>
  </div>
</div>
